@model  Jako.Models.Nodo
@{
    ViewBag.Title = "JAKO";
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Jakocss.css" rel="stylesheet">
</head>
<body>
    <div class="">
        <blockquote class="blockquote text-center">

            <label class="display-1">JAKO</label>
            <h6 class="lead">Intentaré adividar lo que estas pensando</h6>
            <div class="wrap">
                <button class="button" type="button" onclick=" location.assign('Home/Pregunta/1')">INICIAR &raquo;</button>
            </div>
        </blockquote>
    </div>
</body>
</html>
