@model  Jako.Models.Nodo
@{
    ViewBag.Title = "New";
}
@using (Html.BeginForm("Listo", "Home", FormMethod.Post, new { id = "frm-pensando" }))
{
    @Html.HiddenFor(x => x.Id)

    <blockquote class="blockquote text-center align-items-center">
        <h1 class="display-4">¿En que estas pensando?</h1>
        <div class="form-group">
            <h3>Estas pensando en</h3>
            <div style="display:flex; justify-content:center; margin-left:auto; margin-right:auto; align-items:center; text-align:center;">
                <input type="text" name="pregunta" />
            </div>
        </div>
        <div>
            <input type="text" name="padre" value="@Model.Id" />
            <input type="text" name="hder" value="0" />
            <input type="text" name="hiz" value="0" />
        </div>
        <div class="text-right">
            <button type="submit" class="btn-primary">Listo!</button>
        </div>

    </blockquote>

}
