@model  Jako.Models.Nodo
@{
    ViewBag.Title = "New";
}
@using (Html.BeginForm("Listo", "Home", FormMethod.Post))
{
    <head>
        <link href="~/Content/Jakocss.css" rel="stylesheet">
    </head>
    <body class="Quest">
        <blockquote class="blockquote text-center align-items-center">
            <label class="display-4" >¿En que estas pensando?</label>
            <div class="form-group">
                <div style="display:flex; justify-content:center; margin-left:auto; margin-right:auto; align-items:center; text-align:center;" class="col-xs-4">
                    <input style="height: 45px; border-radius: 10px 10px 10px 10px;" placeholder="Estoy pensando en..." type="text" name="pregunta" class="form-control" />
                    @Html.HiddenFor(x => x.Id)
                    <input type="hidden" name="padre" value="@(Model.Id)" />
                    <input type="hidden" name="hder" value="0" />
                    <input type="hidden" name="hizq" value="0" />
                </div>
                <div class="text-right">
                    <input type="submit" class="btn five" value="Listo!" />
                </div>
            </div>

        </blockquote>
    </body>
}
