@model Jako.Models.Nodo
@{
    ViewBag.Title = "Respuesta";
}

@using (Html.BeginForm("Clo", "Home", FormMethod.Post))
{
@Html.HiddenFor(x => x.Id)
<input type="hidden" name="pregunta" value="@Model.pregunta" />
<input type="hidden" name="padre" value="@(Model.Id)" />
<input type="hidden" name="hder" value="0" />
<input type="hidden" name="hizq" value="0" />
<html>
    <head>
        <link href="~/Content/Jakocss.css" rel="stylesheet">
    </head>
    <body class="Quest">
        <blockquote class="blockquote text-center">
            <label class="display-3">Respuesta</label>
                <div class="question" style="padding:3em;">
                    <label class="display-4">Estas Pensando en... @Model.pregunta.ToLowerInvariant()</label>
                </div>
                <div class="answer" style="padding:5em;">
                    <input class="btn fourth" type="button" onclick="location.href='/Home'" value="Si" />
                    <input class="btn five" type="submit" value="No" />

                </div>
</blockquote>
    </body>
</html>
}