@model List<Jako.Models.Nodo>
@{
    ViewBag.Title = "Respuesta";
}

<html>
<head>
    <link href="~/Content/Jakocss.css" rel="stylesheet">
</head>
<body  class="Quest">
    <blockquote class="blockquote text-center">
        @foreach (var item in Model)
        {
            if (ViewBag.Iden == item.Id)
            {
            <h2 class="display-3">Respuesta</h2>
            <div class="question" style="padding:3em;">
                <h1 class="display-4">Estas Pensando en... @item.pregunta</h1>
            </div>
                    
            <div class="answer" style="padding:5em;">
                    <input class="btn fourth" type="button" onclick="location.href='/Home'" value="Si" />
                    <input class="btn five" type="button" onclick="location.href = '/Home/New/' +@item.Id ;" value="No" />
                   
            </div>
            }
        }
    </blockquote>
</body>
</html>
